<form action="/{{spend._id}}" class="col-6 m-auto mt-5" method="POST">
  <h2 class="text-center mb-3">Enter your spend</h2>
  <div class="mb-3 row">
    <label for="name" class="col-sm-2 col-form-label">Name:</label>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        value="{{spend.name}}"
      />
    </div>
  </div>
  <div class="mb-3 row">
    <label for="date" class="col-sm-2 col-form-label">Date:</label>
    <div class="col-sm-10">
      <input
        type="date"
        class="form-control"
        id="date"
        name="date"
        value="{{spend.formattedDate}}"
      />
    </div>
  </div>
  <div class="mb-3 row">
    <label for="category" class="col-sm-2 col-form-label">Category:</label>
    <div class="col-sm-10">
      <select class="form-control" id="category" name="category">
        <option>Select category</option>
        <option value="1" {{#if category.[1]}} selected {{/if}}>One</option>
        <option value="2" {{#if category.[2]}} selected {{/if}}>Two</option>
        <option value="3" {{#if category.[3]}} selected {{/if}}>Three</option>
      </select>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="amount" class="col-sm-2 col-form-label">Amount:</label>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        id="amount"
        name="amount"
        value="{{spend.amount}}"
      />
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <button
      type="submit"
      class="btn btn-outline-dark"
      style="width: 100px"
    >Save</button>
  </div>
</form>

{{!-- <script>
  const date = new Date(); const year = date.getFullYear(); const month =
  date.getMonth() + 1; const day = date.getDate();
  document.getElementById('date').value = year + "-" + month + "-" + day
</script> --}}